body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(87,221,8,1) 0%, rgba(26,163,195,1) 100%);
}

.calculator {
    background-color: aqua;
    width: 40vh;
    height: 60vh;
    margin: 20vh auto;
    padding: 1vh;
}
.screen {
    margin: auto;
    width: 80%;
    height: 20%;
    border: solid 1px blue;
}
#display {
    width: 100%;
    height: 100%;
    border: 1px solid red;;
}

.buttons {
    margin: auto;
    border: 1px solid yellow;
    width: 80%;
    height: 80%;
}