body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(87,221,8,1) 0%, rgba(26,163,195,1) 100%);
}

.calculator {
    background-color: aqua;
    width: 40vh;
    height: 60vh;
    margin: 20vh auto;
    padding: 1vh;
}
.screen {
    margin: auto;
    width: 80%;
    height: 10%;
}
#display {
    width: 98%;
    height: 100%;
    background-color: black;
    border-radius: 2%;
    text-align: right;
    color: white;
    font-size: 36px;

}

.buttons {
    margin: 3vh auto;
    padding: 2vh;
    background-color: bisque;
    width: 80%;
    height: 75%;
}

.table {
    background-color: red;
    width: 95%;
    height: 95%;
    margin: auto;
}